
.important {
  color: purple;
}

.sidebar {
  width: 30%;
  float: right;
  border: 20px solid purple;
  padding: 4px;
  background-color: pink;
}
body {
  background-color: light pink;
}
.britney1 {
  float: left;
  border: 4px solid purple;
  padding: 8px;
  margin: 16px;
}
